{% extends "base.html.twig" %}

{% block title %}Init Game{% endblock %}

{% block body %}
<h1>Kortspelet 21</h1>

{% if turn == 'player' %}
    <h2 class="player">Spelare</h2>
    <div class="card-container">
        {{ data.cards|raw }}
        <p class="points-text">Poäng: {{ data.points }}</p>

        {% if data.status is not empty %}
            <p class="status-text">{{ data.status|raw }}</p>
        {% endif %}
        <div class="link-container">
            <form method="post" action="{{ path('init_game_draw') }}">
                <button type="submit" class="links">Dra kort</button>
            </form>

            <form method="post" action="{{ path('init_game_stop') }}">
                <button type="submit" class="links">Stoppa</button>
            </form>
        </div>
    </div>

{% elseif turn == 'bank' %}
    <h2 class="player">Bank</h2>
    <div class="card-container">
        {% if dataBank is defined %}
            {{ dataBank.cards|raw }}
            <p class="points-text">Poäng: {{ dataBank.points }}</p>

            {% if dataBank.status is not empty %}
                <p class="status-text">{{ dataBank.status|raw }}</p>
            {% endif %}
        {% else %}
            <p>Banken har inte spelat än.</p>
        {% endif %}
    </div>

{% elseif turn == 'end' %}
    <h2 class="player">Slutresultat</h2>
        <div class="game-over">


            <div class="card-container">
            <h3 class="player">Spelare</h3>
                {{ data.cards|raw }}
                <p class="points-text">Poäng: {{ data.points }}</p>
            </div>


            <div class="card-container">
            <h3 class="player">Bank</h3>
                {{ dataBank.cards|raw }}
                <p class="points-text">Poäng: {{ dataBank.points }}</p>
            </div>
        </div>
    <h2 class="points-text">Resultat:</h2>
    <p class="winner-text">{{ finalResult }}</p>

    <div class="link-container">
        <form method="post" action="{{ path('game_reset') }}">
            <button type="submit" class="links">Ny omgång</button>
        </form>
    </div>

{% endif %}

{% endblock %}
