{% extends "base.html.twig" %}

{% block title %}Api-overview{% endblock %}

{% block body %}
<h1>API routes</h1>
    <div class="api-overview">
        <ul>
            {% for route, description in data %}
                <li><a href="https://www.student.bth.se/~saby24/dbwebb-kurser/mvc/me/report/public{{ route }}">{{ route }}</a> - {{ description }}</li>
                 {# <li><a href="https://127.0.0.1:8000{{ route }}">{{ route }}</a> - {{ description }}</li> #}

            {% endfor %}
        </ul>
    </div>
{% endblock %}