<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"-->
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <header class="site-header">
            <span class="site-title">My Symfony Site</span>
        </header>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Hem</a></li>
                    <li><a href="{{ path('about') }}">Om</a></li>
                    <li><a href="{{ path('report') }}">Rapport</a></li>
                    <li><a href="{{ path('lucky') }}">Tur</a></li>
                    <li><a href="{{ path('api-overview') }}">Api</a></li>
                    <li><a href="{{ path('card') }}">Kort</a></li>
                    <li><a href="{{ path('game') }}">Spel</a></li>
                    <li><a href="{{ path('app_library') }}">Bibliotek</a></li>
                    <li><a href="{{ path('find_book_form') }}">Boksökning</a></li>
                    <li><a href="{{ path('book-list') }}">Boklista</a></li>
                    <li><a href="{{ path('metrics') }}">Metrics</a></li>
                    <!--li><a href="{{ path('pig_init_get') }}">Pig Game</a></li-->
                </ul>
            </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="copyright">
                &copy; MVC 2025
            </div>

            <a href="https://github.com/SamS-2024/mvc" target="_blank">
                <img src="{{ asset('img/github.svg') }}" alt="GitHub" class="github-icon" width="35">
            </a>
        </footer>
    </body>
</html>
