{% extends 'base.html.twig' %}

{% block title %}Bok:{% endblock %}

{% block body %}

<div class="library-container">

        <p>Titel: {{book.title}}</p>
        <p>ISBN: {{book.isbn}}</p>
        <p>Författare: {{book.author}}</p>

    <img src="{{book.image}}" alt="{{book.title}}" width=300 class="book-img">

</div>

 <div class=".book-link">
     <a href="{{ path('book-links') }}" class="links">Tillbaka till boklistan</a>
</div>

{% endblock %}
