{% extends 'base.html.twig' %}

{% block title %}Bok{% endblock %}

{% block body %}

<div class="library-container">
    <div class="book-wrapper">
      <div class="book-text">
        <p>Id: {{book.id}}</p>
        <p>Titel: {{book.title}}</p>
        <p>ISBN: {{book.isbn}}</p>
        <p>Författare: {{book.author}}</p>
     </div>
    <div class="book-image">
        <img src="{{book.image}}" alt="{{book.title}}" width="300" class="img-radius">
    </div>
</div>

 <div class="book-link">
     <a href="{{ path('app_library') }}" class="links">Bibliotek</a>
     <a href="{{ path('show-book-to-update', {id: book.id}) }}" class="links">Uppdatera boken</a>
     <a href="{{ path('book_delete_by_id', {id: book.id}) }}" class="links">Radera boken</a>

</div>

{% endblock %}
